version: "3"

services:
  raspberry-postgres:
    image: "postgres:9.6-alpine"
    container_name: raspberry-postgres
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgresdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - PGDATA=/tmp
    restart: always

  raspberry-python-app:
    build: ./python-app/
    container_name: raspberry-python-container
    image: raspberry-python-container
    environment:
      - USER=root
      - "PYTHONUNBUFFERED=1"
      - POSTGRES_DB=postgresdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - DB_SERVER=raspberry-postgres
      - SERVER=raspberry-web-app
    depends_on:
      - raspberry-postgres
      - web-app
    restart: always

  web-app:
    build: ./webapp
    container_name: raspberry-web-app
    environment:
      - DB_SERVER=raspberry-postgres
      - POSTGRES_DB=postgresdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 8080:8080
    depends_on:
      - raspberry-postgres
    restart: always
volumes:
  pg-data:
