* {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  color: red;
}

/* .dataCard {
  border-radius: 15px !important;
  box-shadow: 2px 2px 2px 0px #ccc;
  margin: 2rem;
}

.dataTitle {
  font-size: 1.25rem;
  color: gray;
  text-align: right;
} */

/* .dataValue {
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.dataUnit {
  padding-left: 0.2rem;
  display: inline-block;
  vertical-align: middle;
} */

/* .iconCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCol img {
  padding: 3rem;
  border-color: aqua;
  margin: 0;
} */
